@charset "utf-8";
body {
	color:#000; margin:0;
	font-family:Arial, Helvetica, sans-serif;background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
.col{ display:inline-block; width:48%; overflow:hidden;}
#mimapa{ height:400px;}
h1{ background-color:#752933; padding:20px; text-align:center; margin:0; color:white; font-family: "Comic Sans MS"; font-size:40px;}
label{ display:inline-block; width:250px; font-weight:bold; text-align:right; font-size:11px;}
.mesas{ border:solid thin #333; width:260px; display:inline-block; padding:5px;
}
.mesas span{ display:inline-block; border:solid thin #333; padding:5px; font-size:10px; margin:5px;}
.pushed{cursor:pointer; opacity:1 !important;}
.pushed:hover{ border:solid thin #FFF; box-shadow:0px 0px 2px #000;}
.selected{ background-color:#999; color:#333; opacity:1 !important;}
.msg{ font-size:9px; display:none;}
.formi{display:block;}
.tabla{position:absolute; width:250px; top:0; background-color:#FFFFFF; right:0; font-size:10px;}
.tabla>div:first-child{background-color:red;}
.tabla>div:first-child>span,.formi>span{ display:inline-block; width:29%; padding:5px}
.formi>span:first-child,.tabla>div:first-child>span:first-child{ width:20px;}

body>div>form{ display:inline-block; width:190px; height:100px; border:solid thin #666; margin:5px 0; background:white; padding:5px;}
